<footer class="footer">
<div class="wrapper">
&copy; 2017 {{ site.author }}
</div>
</footer>

<script src="{{ "/js/easybook.js" | prepend: site.baseurl }}"></script>
<script src="https://cdn1.lncld.net/static/js/av-mini-0.6.10.js"></script>
<script src="https://jerry-cdn.b0.upaiyun.com/hit-kounter/hit-kounter-lc-0.3.0.js"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$']]}});
</script>
<script type="text/javascript" async
 src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML">
</script>
